Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-iowa-a-dev, deploy-iowa-b-dev, deploy-iowa-a-stage, deploy-iowa-b-stage, test-dev, test-stage, test-prod-frankfurt, test-prod-gcp

deploy-iowa-a-dev:
  stage: deploy
  tags:
  - meao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: iowa-a/bedrock-dev

deploy-iowa-b-dev:
  stage: deploy
  tags:
  - meao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: iowa-b/bedrock-dev

deploy-iowa-a-stage:
  stage: deploy
  tags:
  - meao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: iowa-a/bedrock-stage

deploy-iowa-b-stage:
  stage: deploy
  tags:
  - meao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: iowa-b/bedrock-stage

test-dev:
  stage: test
  tags:
  - gcp
  - meao
  retry:
    max: 1
    when: always
  script:
  - bin/acceptance-tests.sh ${URL}
  variables:
    URL: https://bedrock-dev.gcp.moz.works

test-stage:
  stage: test
  tags:
  - gcp
  - meao
  retry:
    max: 1
    when: always
  script:
  - bin/acceptance-tests.sh ${URL}
  variables:
    URL: https://bedrock-stage.gcp.moz.works

test-prod-frankfurt:
  stage: test
  tags:
  - gcp
  - meao
  retry:
    max: 1
    when: always
  script:
  - bin/acceptance-tests.sh ${URL}
  variables:
    URL: https://bedrock-prod.frankfurt.moz.works

test-prod-gcp:
  stage: test
  tags:
  - gcp
  - meao
  retry:
    max: 1
    when: always
  script:
  - bin/acceptance-tests.sh ${URL}
  variables:
    URL: https://bedrock-stage.gcp.moz.works

Add full suite of tests for demo5
  .gitlab-ci.yml
  bin/acceptance-tests.sh
Due: none

Remove duplicate test-demo5-firefox
  .gitlab-ci.yml
Due: none

Add full suite of prod tests
  .gitlab-ci.yml
Due: none

Add test suites for dev & stage
  .gitlab-ci.yml
Due: none

Add deploy-demo{1..5} jobs
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-5eee0fc79e15983f315d083bc02224e60d271306 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

separate demo #s with dashes to match existing namespaces
  .gitlab-ci.yml
Due: none

Add existing bedrock-demo-{1..5} deployments
  oregon-b/bedrock-demo-1/deploy.yaml
  oregon-b/bedrock-demo-2/deploy.yaml
  oregon-b/bedrock-demo-3/deploy.yaml
  oregon-b/bedrock-demo-4/deploy.yaml
  oregon-b/bedrock-demo-5/deploy.yaml
Due: none

set image to mozorg/bedrock:master-2abd4dd57339455f1677535017c655bfbfb73914 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-40ec48137eee3b63fdb3c30fd804b2f98fb33d7f in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-b514cd2952cbfaeeb3c7f77b7534e37126cf7eb1 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

Deploy bedrock-demo-5 on gitlab-ci branch
  .gitlab-ci.yml
  oregon-b/bedrock-demo-5/deploy.yaml
Due: none

Add KUBECONFIG to deploy jobs
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-f57cd17bfe25622cdba18202b502cea26bc328c5 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

Deploy current master image to demo5
  bin/rollout-status.sh
  oregon-b/bedrock-demo-5/deploy.yaml
Due: none

set image to mozorg/bedrock:master-74e80e26874929cbac997a0d9a4c35f606820a1d in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-0999f01474fe10e0018e9188f1072f94f3da453d in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-5cc81ae1360e262656fbe0fe2c022ef308dce922 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-7eb514d495e8bf8283013de462a2e73ab5a751f4 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-7777e50219d6ab90116c13236a567f947418f8df in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-d1bf966ec25e309a0e0b0cbf1e414da2e92be25c in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:stage-d1bf966ec25e309a0e0b0cbf1e414da2e92be25c in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage, test-prod-gcp

set image to mozorg/bedrock:master-3c07f51219144057315c534e9bd2c3910e4a8fcf in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:stage-1d75a9d02b45b261f013f78b5ad3818d732230c7 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage, test-prod-gcp

set image to mozorg/bedrock:master-1d75a9d02b45b261f013f78b5ad3818d732230c7 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-b7a4957f5b7164297677f32ceacf3a53a1559145 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-b175ffd2f31e0da59766f6690a3f45388a27c993 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

Remove all old docs build and deis config machinery
  Dockerfile
  Jenkinsfile
  bin/build-docker-image.sh
  bin/build-docs.sh
  bin/config-diff.py
  bin/config-diff.sh
  bin/configure.sh
  bin/docker-docs.sh
  bin/docker-image-tag.sh
  bin/envcat
  bin/make-docs-config-page.py
  bin/publish-docs.sh
  bin/run-tests.sh
  bin/slack-notify.sh
  docs/css/extra.css
  jenkins/branches/bedrock-dev.yml
  jenkins/branches/bedrock-prod.yml
  jenkins/branches/bedrock-stage.yml
  jenkins/branches/master.yml
  jenkins/configure-parallel.groovy
  jenkins/configure.groovy
  jenkins/docs.groovy
  jenkins/regions.yml
  jenkins/utils.groovy
  mkdocs.yml
  requirements.txt
  set-config
Due: none

set image to mozorg/bedrock:master-b7f5d8186949c98ce45a560f2c8eb501b15c7f26 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:stage-b7f5d8186949c98ce45a560f2c8eb501b15c7f26 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage, test-prod-gcp

set image to mozorg/bedrock:prod-b7f5d8186949c98ce45a560f2c8eb501b15c7f26 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: none

set image to mozorg/bedrock:prod-b7f5d8186949c98ce45a560f2c8eb501b15c7f26 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: test-prod-frankfurt

set image to mozorg/bedrock:master-87a1d81d415110d21be06a8b22871c7deff56062 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-6c9bb6d5aea667eb3a81da00f596ee25b264e35b in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:master-5ea129cf0d71fb25afac949e8ea30cb5c5b7b897 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:stage-5ea129cf0d71fb25afac949e8ea30cb5c5b7b897 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage, test-prod-gcp

set image to mozorg/bedrock:prod-5ea129cf0d71fb25afac949e8ea30cb5c5b7b897 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: none

set image to mozorg/bedrock:master-113b892c01de1f68a3568f8d7ce5dd5b5f7ecf39 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev

set image to mozorg/bedrock:prod-5ea129cf0d71fb25afac949e8ea30cb5c5b7b897 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: test-prod-frankfurt

set image to mozorg/bedrock:stage-113b892c01de1f68a3568f8d7ce5dd5b5f7ecf39 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage, test-prod-gcp

Path conditions:
  deploy-iowa-a-dev: any of: iowa-a/bedrock-dev/*
  deploy-iowa-b-dev: any of: iowa-b/bedrock-dev/*
  deploy-iowa-a-stage: any of: iowa-a/bedrock-stage/*
  deploy-iowa-b-stage: any of: iowa-b/bedrock-stage/*
  test-dev: any of: iowa-*/bedrock-dev/*
  test-stage: any of: iowa-*/bedrock-stage/*
  test-prod-frankfurt: any of: frankfurt/bedrock-prod/*
  test-prod-gcp: any of: iowa-*/bedrock-stage/*
