Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: demo1-test-headless, demo2-test-headless, demo3-test-headless, demo4-test-headless, demo5-test-chrome, demo5-test-download, demo5-test-firefox, demo5-test-headless, demo5-test-ie, demo5-test-ie9, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, prod-frankfurt-test-headless, prod-iowa-a-test-chrome, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

demo1-test-headless:
  variables:
    BASE_URL: http://www-demo1.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-1
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

demo2-test-headless:
  variables:
    BASE_URL: http://www-demo2.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-2
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

demo3-test-headless:
  variables:
    BASE_URL: http://www-demo3.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-3
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

demo4-test-headless:
  variables:
    BASE_URL: http://www-demo4.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-4
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

demo5-test-chrome:
  variables:
    BASE_URL: http://www-demo5.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-5
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    BROWSER_NAME: chrome
    BROWSER_VERSION: latest
    PLATFORM: Windows 10
  ...

demo5-test-download:
  variables:
    BASE_URL: http://www-demo5.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-5
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

demo5-test-firefox:
  variables:
    BASE_URL: http://www-demo5.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-5
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    BROWSER_NAME: firefox
    BROWSER_VERSION: latest
    PLATFORM: Windows 10
  ...

demo5-test-headless:
  variables:
    BASE_URL: http://www-demo5.allizom.org
    DEPLOYMENT: oregon-b/bedrock-demo-5
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
  stage: test
  image: mozorg/bedrock_test
  script:
  - cd /app
  - bin/run-integration-tests.sh
  tags:
  - oregon-a

set image to mozorg/bedrock:master-42da93b2cf24d7c68613243573904b1d5896ba01 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-42da93b2cf24d7c68613243573904b1d5896ba01 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:master-a8c19b1bf37e5307ea2e651386e51e88f6acbd28 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Add .gitlab-ci.yml dev only
  .gitlab-ci.yml
  bin/acceptance-tests.sh
  bin/rollout-status.sh
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/configmap.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/hpa.yaml
  iowa-a/bedrock-dev/svc.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-a8c19b1bf37e5307ea2e651386e51e88f6acbd28 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-iowa-a-test-chrome, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:prod-a8c19b1bf37e5307ea2e651386e51e88f6acbd28 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: prod-frankfurt-test-headless

set image to mozorg/bedrock:master-9416533446ca4c7455db5a2d471e230d674c5173 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-9855fded786d68b3a8ac24a460c19b8ef26c2cf2 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-d94d274ca919fac1e5e1f7074cee49b5542b557f in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Update bin/acceptance-tests.sh
  bin/acceptance-tests.sh
Due: none

Use latest version of chrome
  bin/acceptance-tests.sh
Due: none

Pull latest mozorg/bedrock_test image before running tests
  bin/acceptance-tests.sh
Due: none

Add -ex arg to shebang in bin/acceptance-tests.sh
  bin/acceptance-tests.sh
Due: none

Pull latest dev images from git-sync-operator branch 99a8583
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-441835e308194d60c85d5f0468c0b17d68bc9635 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Gitlab CI/CD dev-only (#243)
  .gitlab-ci.yml
  bin/acceptance-tests.sh
  bin/rollout-status.sh
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/configmap.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/hpa.yaml
  iowa-a/bedrock-dev/svc.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-d98855336eec8884c476a0ff02b0d6e63b1ef019 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-c83af3a5b0798be0c48b4b3c0ab4e863c11dcb3b in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-f41d484870a744f95d047b6876ec877b5ec02b18 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-09cc16b6825189919fe250f247a31029dbfb8e08 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-09cc16b6825189919fe250f247a31029dbfb8e08 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:HEAD-b3a4ec27dc216dce9ac9fedb7359cc56b4d4ddbc in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-87e708ff7df46ccea4f3e0abc44e351ebaa98836 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-f4472bfb1460a1cbb21d7451ac96de8ddaad3335 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:stage-f4472bfb1460a1cbb21d7451ac96de8ddaad3335 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozorg/bedrock:HEAD-b9b9dc503d74b0864558f7062e206c0a7a6550d3 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:prod-f4472bfb1460a1cbb21d7451ac96de8ddaad3335 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-iowa-a-test-chrome, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

set image to mozorg/bedrock:prod-f4472bfb1460a1cbb21d7451ac96de8ddaad3335 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: prod-frankfurt-test-headless

set image to mozorg/bedrock:HEAD-9197c96bfbee683ee9897f921f57e28e24a0289a in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-3290900260ae33641211359beb53c6948a7480e8 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-c58e5a19b5dada515802dd8e64ac77e85c0d305a in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-9a309cacbc5bf9494003313b5845aca3663f8db0 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:HEAD-fe19779c4e628cf00a341054d1c02f1132990bc6 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-ed20af35aa47a315a2ed2a9dc28dab1eb6f27006 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-06551d8cb2fba8592877fbc8d710a56167713c7e in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-d362d0bac27b65f07f2625852487505f981bcd43 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozorg/bedrock:master-e2d64876bbe558e786ca5bb216737b409043d8e0 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Disable whatsnew70 experiment
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

Disable whatsnew70 experiment (#244)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozorg/bedrock:stage-e2d64876bbe558e786ca5bb216737b409043d8e0 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

Path conditions:
  demo1-test-headless: any of: oregon-b/bedrock-demo-1/*
  demo2-test-headless: any of: oregon-b/bedrock-demo-2/*
  demo3-test-headless: any of: oregon-b/bedrock-demo-3/*
  demo4-test-headless: any of: oregon-b/bedrock-demo-4/*
  demo5-test-chrome: any of: oregon-b/bedrock-demo-5/*
  demo5-test-download: any of: oregon-b/bedrock-demo-5/*
  demo5-test-firefox: any of: oregon-b/bedrock-demo-5/*
  demo5-test-headless: any of: oregon-b/bedrock-demo-5/*
  demo5-test-ie: any of: oregon-b/bedrock-demo-5/*
  demo5-test-ie9: any of: oregon-b/bedrock-demo-5/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
