Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-iowa-a-dev, deploy-iowa-b-dev, deploy-iowa-a-stage, deploy-iowa-b-stage, test-dev-headless, test-stage-headless, test-prod-frankfurt-headless, test-prod-gcp-headless, test-prod-gcp-chrome, test-prod-gcp-firefox, test-prod-gcp-ie, test-prod-gcp-ie9, test-prod-gcp-download

Path conditions:
  deploy-iowa-a-dev: any of: iowa-a/bedrock-dev/*
  deploy-iowa-b-dev: any of: iowa-b/bedrock-dev/*
  deploy-iowa-a-stage: any of: iowa-a/bedrock-stage/*
  deploy-iowa-b-stage: any of: iowa-b/bedrock-stage/*
  test-dev-headless: any of: iowa-*/bedrock-dev/*
  test-stage-headless: any of: iowa-*/bedrock-stage/*
  test-prod-frankfurt-headless: any of: frankfurt/bedrock-prod/*
  test-prod-gcp-headless: any of: iowa-*/bedrock-prod/*
  test-prod-gcp-chrome: any of: iowa-*/bedrock-prod/*
  test-prod-gcp-firefox: any of: iowa-*/bedrock-prod/*
  test-prod-gcp-ie: any of: iowa-*/bedrock-prod/*
  test-prod-gcp-ie9: any of: iowa-*/bedrock-prod/*
  test-prod-gcp-download: any of: iowa-*/bedrock-prod/*

set image to mozorg/bedrock:prod-113b892c01de1f68a3568f8d7ce5dd5b5f7ecf39 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: test-prod-gcp-headless, test-prod-gcp-chrome, test-prod-gcp-firefox, test-prod-gcp-ie, test-prod-gcp-ie9, test-prod-gcp-download

set image to mozorg/bedrock:prod-113b892c01de1f68a3568f8d7ce5dd5b5f7ecf39 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: test-prod-frankfurt-headless

Update docs to reflect current reality
  docs/index.md
Due: none

set image to mozorg/bedrock:master-dbc803ad3329ebb4a01ea2d00ab8cbc0028f50b2 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

Test iowa-b k8s executor against prod
  .gitlab-ci.yml
Due: none

Use full path for script
  .gitlab-ci.yml
Due: none

Change into /app directory before running script
  .gitlab-ci.yml
Due: none

Test prod iowa-b saucelabs
  .gitlab-ci.yml
Due: none

Delete empty MARK_EXPRESSION
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:stage-dbc803ad3329ebb4a01ea2d00ab8cbc0028f50b2 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage-headless

Change SauceLabs captilization for compat with existing script
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-e68e29b22cde147e90d0bc2bd34598cdf3f23d51 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

set image to mozorg/bedrock:stage-e68e29b22cde147e90d0bc2bd34598cdf3f23d51 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage-headless

set image to mozorg/bedrock:prod-e68e29b22cde147e90d0bc2bd34598cdf3f23d51 in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: test-prod-gcp-headless, test-prod-gcp-chrome, test-prod-gcp-firefox, test-prod-gcp-ie, test-prod-gcp-ie9, test-prod-gcp-download

Test prod from oregon-a
  .gitlab-ci.yml
Due: none

Fix refs for oregon-a
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:prod-e68e29b22cde147e90d0bc2bd34598cdf3f23d51 in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: test-prod-frankfurt-headless

Remove all old docs build and deis config machinery (#240)
  Dockerfile
  Jenkinsfile
  bin/build-docker-image.sh
  bin/build-docs.sh
  bin/config-diff.py
  bin/config-diff.sh
  bin/configure.sh
  bin/docker-docs.sh
  bin/docker-image-tag.sh
  bin/envcat
  bin/make-docs-config-page.py
  bin/publish-docs.sh
  bin/run-tests.sh
  bin/slack-notify.sh
  docs/css/extra.css
  docs/index.md
  jenkins/branches/bedrock-dev.yml
  jenkins/branches/bedrock-prod.yml
  jenkins/branches/bedrock-stage.yml
  jenkins/branches/master.yml
  jenkins/configure-parallel.groovy
  jenkins/configure.groovy
  jenkins/docs.groovy
  jenkins/regions.yml
  jenkins/utils.groovy
  mkdocs.yml
  requirements.txt
  set-config
Due: none

add test-oregon-a-*-gcp-dev
  .gitlab-ci.yml
Due: none

Update bedrock-dev in iowa-a (copied from git-sync-operator branch)
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

Refactor .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

move stages back to beginning of .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fix missing only
  .gitlab-ci.yml
Due: none

Fix validation errors
  .gitlab-ci.yml
Due: none

Only trigger deploy jobs on master branch
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-8e36a91f25e7d3b04d8033ad5ee63552ff199974 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

set image to mozorg/bedrock:master-324e42a5356adadef61778cc66ef8d6f6b89bc39 in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

set image to mozorg/bedrock:master-08061e954f064f97ebcfbce7a8335c407cbfe91f in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

change BROWSER_VERSION to latest and remove "only" from .test
  .gitlab-ci.yml
Due: none

Comment out all jobs except prod tests
  .gitlab-ci.yml
Due: none

fix extends
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-9e212b56c6345b26e4baf521242a2f0485faab3b in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

Run test jobs on gitlab-ci branch
  .gitlab-ci.yml
Due: none

set image to mozorg/bedrock:master-81aed68201248759abcab74e4250cef21517937d in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-iowa-a-dev, test-dev-headless

set image to mozorg/bedrock:stage-81aed68201248759abcab74e4250cef21517937d in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-iowa-a-stage, test-stage-headless

set image to mozorg/bedrock:prod-81aed68201248759abcab74e4250cef21517937d in iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: test-prod-gcp-headless, test-prod-gcp-chrome, test-prod-gcp-firefox, test-prod-gcp-ie, test-prod-gcp-ie9, test-prod-gcp-download

set image to mozorg/bedrock:prod-81aed68201248759abcab74e4250cef21517937d in frankfurt
  frankfurt/bedrock-prod/deploy.yaml
Due: test-prod-frankfurt-headless

Comment out prod-iowa-a only selector
  .gitlab-ci.yml
Due: none

Add DRIVER and MARK_EXPRESSION to base .test
  .gitlab-ci.yml
Due: none

Switch ie9 tests to Windows 7
  .gitlab-ci.yml
Due: none
